*,
*::before,
**::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scorecard {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.25rem;
}

button {
    height: 2rem;
    min-width: 5rem;
}